extends layout
block content
 h1= title

 form(id='CostumeForm', action="/resource/house", method="POST")
    div.form-group
        label.houseAttr(for='house_price') House Price 
        input#house_price(type='text', name='house_price')
    div.form-group
        label.houseAttr(for='house_area') House area
        input#house_area(type='text', name='house_area')
    div.form-group
        label.houseAttr(for='house_type') House Type
        input#house_type(type='text', name='house_type')
    input(type="submit")
 script.
    document.forms['CostumeForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
        return resp.text(); // or resp.text() or whatever the server sends
    }).then((body) => {
        alert("Save succeded")
        // TODO handle body
    }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
     });
    });