body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.houseAttr {
  background-color: aquamarine;
  width: 120px;
 }

 .toolHAttr{
   background-color: bisque;
   width: 120px;
   border: 2px dashed #000000;
   padding:20px;
   width:30%;

 }